 *{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial;
    height: 100vh;
}
#mainpagecont{
    margin: auto;
    height: 100%;
    width: 100%;
    background: black;
}
#stripgroup1{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid yellow;
    display: flex;
}
#stripgroup2{
    height: 100%;
    width: 100%;
    border: 2px solid red;
    position: absolute;
    display: flex;
}
#stripgroup3{
    height: 100%;
    width: 100%;
    border: 2px solid blue;
    position: absolute;
    display: flex;
}
.strip{
    margin: 0 50px 0 0;
    height: 100%;
    width: 7px;
    background: red;
    
}
.stripcont{
  
    
}
